name: Continuous integration

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
        types: [ opened, synchronize ]

jobs:
    check:
        name: Code check
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'
        strategy:
            matrix:
                command: [ lint, typecheck ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Setup bun
                uses: oven-sh/setup-bun@v2
                with:
                    bun-version: latest

            -   name: Install dependencies
                run: bun install

            -   name: Build types
                run: bun build:types

            -   name: ${{ matrix.command }}
                run: bun ${{ matrix.command }}

    release:
        name: Release
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' }}
        needs: [ check ]
        permissions:
            contents: 'write'
            id-token: 'write'
            issues: 'write'
            pull-requests: 'write'
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Setup bun
                uses: oven-sh/setup-bun@v2
                with:
                    bun-version: latest

            -   name: Install dependencies
                run: bun install

            - name: Capture release version
              run: |
                  bun changeset status --output=release.json
                  echo "NEW_VERSION=$(jq -r '.releases[0].newVersion' release.json)" >> "$GITHUB_ENV"
                  rm release.json

            -   name: Create Release Pull Request or Publish to npm
                uses: changesets/action@v1
                with:
                    publish: bun changeset publish
                    version: bun changeset version
                    commit: 'chore: release v${{env.NEW_VERSION}}'
                    title: 'chore: release v${{env.NEW_VERSION}}'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    NPM_TOKEN: ${{ secrets.HEXADROP_NPM_TOKEN }}
